<style>
   footer {
      height: 50px;
      width: 100%;
      position: relative;
      display: flex;
      padding-top: 0;
      flex-direction: column;
      box-sizing: border-box;
      padding-left: 16px;
      padding-right: 16px;
      margin: 0;
      flex-shrink: 0;
      align-items: stretch;
      /* background-color: brown; */
   }

   .footer-div {
      display: flex;
      position: relative;
      text-align: center;
      align-content: center;
      margin: 15px auto 0;
      flex-wrap: wrap;
      justify-content: center;
   }

   .footer-inner {
      display: flex;
      margin-right: 14px;
      text-decoration: none;
      align-items: center;
      color: rgb(142, 142, 142);
      font-size: 12px;
   }
</style>

<div class="footer-div">
   <a href="#" class="footer-inner">Meta</a>
   <a href="#" class="footer-inner">소개</a>
   <a href="#" class="footer-inner">블로그</a>
   <a href="#" class="footer-inner">이용정보</a>
   <a href="#" class="footer-inner">도움말</a>
   <a href="#" class="footer-inner">API</a>
   <a href="#" class="footer-inner">개인정보처리방침</a>
   <a href="#" class="footer-inner">약관</a>
   <a href="#" class="footer-inner">인기계정</a>
   <a href="#" class="footer-inner">위치</a>
   <a href="#" class="footer-inner">Instagramm Lite</a>
   <a href="#" class="footer-inner">연락처 업로드 & 비사용자</a>
   <a href="#" class="footer-inner">Meta Verified</a>
</div>