<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>instagram comment</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/basic.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script
      src="https://kit.fontawesome.com/95c6c2038b.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../static/js/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
      <div class="wrap">
        <!-- header -->
        <header class="header">
          <div class="header_wrap">
            <div class="inner">
              <h1 class="logo">
                <span
                  ><a href="/"><img
                    src="../static/src/sang/1600px-Instagram_logo.svg.png"
                    alt="main_logo"
                /></a>
                </span>
              </h1>
              <nav class="nav">
                <ul class="link_list">
                  <li>
                    <i class="fa-solid fa-compass"></i>
                  </li>
                  <li>
                    <i class="fa-solid fa-heart"></i>
                  </li>
                  <li>
                    <a href="http://118.67.134.197:8000/common"><i class="fa-solid fa-circle-user"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <!-- //header -->
        <!-- main -->
        <div class="main">
          <div class="container">
            
            <!--left -->
            <div class="contents_left">
              <div class="inner">
                <ul class="feeds_list">
                  <li class="feeds_list_li">
                    <div class="feed_profile">
                      <div class="profile">
                        <img
                          src="../static/src/shin/bird.jpg"
                          alt="profile"
                          class="profile_img"
                        />
                        <p class="profile_id">PHOENIX</p>
                      </div>
                      <div class="profile_add link_list">
                       <a href="#"><i class="fa-solid fa-bars"></i></a>
                      </div>
                    </div>
                    <div class="feed_box">
                      <img src="../static/src/shin/1.jpg" alt=“main_img” />
                    </div>
                    <div class="feed_info">
                      <div class="feed_state">
                        <ul class="link_list">
                          <li>
                            <i class="fa-regular fa-heart"></i>
                          </li>
                          <li>
                            <i class="fa-regular fa-comment"></i>
                          </li>
                          <li>
                            <i class="fa-regular fa-paper-plane"></i>
                          </li>
                        </ul>
                        <div class="link_list">
                          <i class="fa-regular fa-bookmark"></i>
                        </div>
                      </div>
                      <div class="feed_comments" id="comment">
                        <div class="feed_likes comments_margin">
                          <div class="likes_user profile">
                            <img
                              src="../static/src/sang/money.jpg"
                              alt="profile"
                              class="user_id_img"
                            />
                          </div>
                          <div class="comments_info">
                            <p class="comments_tit">
                              <span class="user_id_nick">MONEY_31</span>님
                              <span
                                >외 <span class="likes_number">43</span>명</span
                              >이 좋아합니다.
                            </p>
                          </div>
                        </div>
                        <div class="comment_list comments_margin">
                          <ul class="comments_info comment_list_ul">
                            <li>
                              <div class="comments_tit">
                                <span class="user_id">good morning!</span>
                                <br />
                                <br />
                                <span
                                  class="user_comment"
                                  style="color: rgb(62, 188, 238)"
                                  >#happy day</span
                                >
                                <br />
                                <div class="feed_time">
                                  <p class="time">2 일전</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- comment form -->
                    <form class="comments_form">
                      <div class="input_box">
                        <input
                          type="text"
                          placeholder="댓글달기..."
                          id="comment_input"
                        />
                      </div>
                      <div class="button_box">
                        <button type="button" class="btn" disabled="disabled">
                          <span class="">게시</span>
                        </button>
                      </div>
                    </form>
                    <!-- //comment form -->
                  </li>
              
                  </ul>
                </div>
                </div>
                
                  <!-- rigth -->
                  <div class="contents_right">
                    <!-- aside -->
                    <aside class="aside">
                        <div class="feed_profile aside_profile">
                            <div class="profile">
                                <img src="../static/src/shin/bird.jpg" alt="profile" class="profile_img">
                                <div class="pofile_info">
                                    <p class="profile_id">PHOENIX</p>
                                    <p class="profile_intro">Hi</p>
                                </div>
                            </div>
                        </div>
                        <div class="follow">
                            <div class="follow_info follow_story">
                                <div class="follow_title">
                                    <span class="text_tit">스토리</span>
                                    <a href="#">
                                        <span class="sub_tit">모두보기</span>
                                    </a>
                                </div>
                                <div class="follow_list_wrap feed_profile">
                                    <ul class="profile follow_list scroll">
                                        <li>
                                            <img src="../static/src/sang/beer.jpg" alt="profile" class="profile_img">
                                            <div class="pofile_info">
                                                <p class="profile_id">Tom1111123</p>
                                                <p class="profile_intro">4시간 전</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="../static/src/sang/desert.jpg" alt="profile" class="profile_img">
                                            <div class="pofile_info">
                                                <p class="profile_id">Alex__777</p>
                                                <p class="profile_intro">2시간 전</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="../static/src/sang/girlwithdog.jpg" alt="profile" class="profile_img">
                                            <div class="pofile_info">
                                                <p class="profile_id">Jack001</p>
                                                <p class="profile_intro">1시간 전</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="../static/src/sang/mom.jpg" alt="profile" class="profile_img">
                                            <div class="pofile_info">
                                                <p class="profile_id">Alice_09</p>
                                                <p class="profile_intro">2 일전</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="follow_info">
                                <div class="follow_title">
                                    <span class="text_tit">회원님을 위한 추천</span>
                                    <a href="#">
                                        <span class="sub_tit">모두보기</span>
                                    </a>
                                </div>
                                <div class="follow_list_wrap feed_profile">
                                    <ul class="profile follow_list">
                                        <li>
                                            <img src="../static/src/sang/money.jpg" alt="profile" class="profile_img">
                                            <div class="pofile_info">
                                                <p class="profile_id">Ros__1</p>
                                                <p class="profile_intro">Good__Day24 외 2명이 팔로우</p>
                                            </div>
                                            <div class="follow_btn">
                                                <button type="button" class="btn">
                                                    <span>팔로우</span>
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="../static/src/sang/moon.jpg" alt="profile" class="profile_img">
                                            <div class="pofile_info">
                                                <p class="profile_id">Elo5211</p>
                                                <p class="profile_intro">Hanna_rp_8 외 12명이 팔로우</p>
                                            </div>
                                            <div class="follow_btn">
                                                <button type="button" class="btn">
                                                    <span>팔로우</span>
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="../static/src/sang/party.jpg" alt="profile" class="profile_img">
                                            <div class="pofile_info">
                                                <p class="profile_id">apple__to1</p>
                                                <p class="profile_intro">jackson 외 15명이 팔로우</p>
                                            </div>
                                            <div class="follow_btn">
                                                <button type="button" class="btn">
                                                    <span>팔로우</span>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- //aside -->
                </div>
                <!-- // rigth -->        
              </div>
              <div class="footer-div">
                <a href="#" class="footer-inner">Meta</a>
                <a href="#" class="footer-inner">소개</a>
                <a href="#" class="footer-inner">블로그</a>
                <a href="#" class="footer-inner">이용정보</a>
                <a href="#" class="footer-inner">도움말</a>
                <a href="#" class="footer-inner">API</a>
                <a href="#" class="footer-inner">개인정보처리방침</a>
                <a href="#" class="footer-inner">약관</a>
                <a href="#" class="footer-inner">인기계정</a>
                <a href="#" class="footer-inner">위치</a>
                <a href="#" class="footer-inner">Instagramm Lite</a>
                <a href="#" class="footer-inner">연락처 업로드 & 비사용자</a>
                <a href="#" class="footer-inner">Meta Verified</a>
             </div>
        </div>
        <!-- //main -->
      </div>
  </body>
</html>