<style>
      .follower2{
      background-color:#EFEFEF;
      position:relative;
      left:170px
   }
</style>

<div class="modal fade followModal" id="follower" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">팔로워</h1>
      </div>
      <div class="modal-body modal-dialog modal-dialog-scrollable followscroll">
         <ul class="followList">
            <li class="followUser"><img src="/static/src/shin/fox.jpg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">mi.ny.&nbsp;
               </div> 
               <button type="button" class="btn follower2">삭제</button>
            </li>
            <li class="followUser" id="li1"><img src="/static/src/shin/kitty2.jpeg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">he.in.&nbsp;&nbsp;
               </div> 
               <button type="button" class="btn follower2" >삭제</button>
            </li>
            <li class="followUser"><img src="/static/src/shin/puppy.jpg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">doyou&nbsp;
               </div> 
               <button type="button" class="btn follower2">삭제</button>
            </li>
            <li class="followUser"><img src="/static/src/shin/deer.jpg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">so&nbsp;an&nbsp;&nbsp;
               </div> 
               <button type="button" class="btn follower2">삭제</button>
            </li>
            <li class="followUser"><img src="/static/src/shin/mool.jpg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">subin&nbsp;&nbsp;
               </div> 
               <button type="button" class="btn follower2">삭제</button>
            </li>
            <li class="followUser"><img src="/static/src/shin/panda.jpeg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">wonny
               </div> 
               <button type="button" class="btn follower2">삭제</button>
            </li>
            <li class="followUser"><img src="/static/src/shin/mool3.jpg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">jonny&nbsp;&nbsp;
               </div> 
               <button type="button" class="btn follower2">삭제</button>
            </li>
            <li class="followUser"><img src="/static/src/shin/deer.jpg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">eonnf&nbsp;
               </div> 
               <button type="button" class="btn follower2">삭제</button>
            </li>
            <li class="followUser"><img src="/static/src/shin/alpaca.jpg" width="40px" height="40px" style="border-radius:20px""> 
               <div class="followName">xonn&nbsp;&nbsp;&nbsp;
               </div> 
               <button type="button" class="btn follower2">삭제</button>
            </li>
         </ul>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
