<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>헤더 기본틀</title>
   <!-- css -->
   <link rel="stylesheet" href="/static/css/shin/index.css">
   <!-- font awasome -->
   <script src="https://kit.fontawesome.com/b29325fb21.js" crossorigin="anonymous"></script>
</head>

<body>   
   <!-- profile-main : 바탕화면 -->
   <div class="profile_main">
      <!-- section : 컨테이너, 하단공백, 푸터 들어감 -->
      <section>
         <!-- container : 헤더, 하이라이트, 중간버튼, 콘텐츠 들어감 -->
         <div class="container">
            <!-- header : 프로필 상단 -->
            <header>
               <!-- header1 -->
               <div class="header1">
                  <div class="profile-pic">
                     <div class="profile-picture"><img class="pofile-picture" src="/static/src/bird.jpg" alt="오목눈이">
                     </div>
                  </div>
                  <div class="profile-section">
                     <div class="ps-row1">
                        <h2 class="user-name">PHOENIX</h2>
                        <button class="profile-edit">프로필 편집</button>
                     </div>
                     <!-- <div class="profile-list"> -->
                     <ul class="ps-row2">
                        <li class="contents-num proli">
                           <div>게시물 <span> 15</span></div>
                        </li>
                        <li class="follower proli">
                           <div>팔로워 <span> 56</span></div>
                        </li>
                        <li class="following proli">
                           <div>팔로우 <span> 36</span></div>
                        </li>
                     </ul>
                     <!-- </div> -->
                     <div class="ps-row3">
                        <span class="user-name2">불사조</span>
                        </br>
                        <h5 class="profile-ment">동그랗다</h5>
                     </div>
                  </div>
               </div>
            </header>
            <!-- hilight 시작 -->
            <div class="hilight-shell">
               <div class="hilight-box">
                  <ul class="hi-list">
                     <li class="hili">
                        <div class="hipicdiv"><img class="hipic" src="/static/src/bird.jpg" alt="">
                           <span class="hititle">Now_Playing</span>
                        </div>
                     </li>
                     <li class="hili">
                        <div class="hipicdiv"><img class="hipic" src="/static/src/bird.jpg" alt="">
                           <span class="hititle">Now_Playing</span>
                        </div>
                     </li>
                     <li class="hili">
                        <div class="hipicdiv"><img class="hipic" src="/static/src/bird.jpg" alt="">
                           <span class="hititle">Now_Playing</span>
                        </div>
                     </li>
                     <li class="hili">
                        <div class="hipicdiv"><img class="hipic" src="/static/src/bird.jpg" alt="">
                           <span class="hititle">Now_Playing</span>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- =========================hilight 끝======================== -->
         </div>
         <!--====================== container 끝=================-->
         <!-- </div> -->
         <!-- ===============under-blank : 콘텐츠 - 푸터 사이 공백 시작================== -->
         <div class="under-blank"></div>
         <!-- ===============under-blank : 콘텐츠 - 푸터 사이 공백 끝================== -->
         <!-- ===============footer 시작===============-->
         <footer>
            <div class="footer-div">
               <a href="#" class="footer-inner">Meta</a>
               <a href="#" class="footer-inner">소개</a>
               <a href="#" class="footer-inner">블로그</a>
               <a href="#" class="footer-inner">이용정보</a>
               <a href="#" class="footer-inner">도움말</a>
               <a href="#" class="footer-inner">API</a>
               <a href="#" class="footer-inner">개인정보처리방침</a>
               <a href="#" class="footer-inner">약관</a>
               <a href="#" class="footer-inner">인기계정</a>
               <a href="#" class="footer-inner">위치</a>
               <a href="#" class="footer-inner">Instagramm Lite</a>
               <a href="#" class="footer-inner">연락처 업로드 & 비사용자</a>
               <a href="#" class="footer-inner">Meta Verified</a>
            </div>
         </footer>
         <!-- ===============footer 끝===============-->
      </section>
   </div>

</body>

</html>